* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
    font-family: 'Inria Sans', sans-serif;
    color: #1f2937;
}

main {
    flex: 1;
}

.navbar-brand {
    color: #374151 !important;
}

.main-content {
    background-color: #ffffff;
    border: 2px solid #a7f3d0;
}

h2 {
    font-family: 'Jockey One', sans-serif;
    color: #2563eb; 
}

p {
    color: #9ca3af;
}

.btn-primary {
    background-color: #2563eb;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #3e72e0;
}

.btn-light {
    background-color: #ffffff;
    border: 1px solid #9ca3af;
    color: #374151;
}

.btn-light:hover {
    background-color: #a7bff3;
}

a:hover {
    text-decoration: none;
}

footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #333;
  position: relative;
}

.card {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
